<h1>Stats</h1>
<dl>
  <dt>Client processing time</dt>
  <dd><%= @db.client_processing_time%></dd>

  <dt>Time started</dt>
  <dd><%= @db.time_started %></dd>

  <dt>Time finished</dt>
  <dd><%= @db.time_finished %></dd>

  <dt>Duration</dt>
  <dd><%= @db.duration %></dd>

  <dt>Communication is<dt>
  <dd><%= @db.communication_percentage %>%</dd>
<dl>

